# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & Server files
.env
*.local
server/.env
server/node_modules

# Electron build output
dist-electron
.icon-ico

dist-electron-v2
server/build/
server/uploads/
*.exe
*.pyc
__pycache__/
server/build/
server/uploads/
*.exe
*.pyc
__pycache__/


# WhatsApp Web JS Session & Cache
.wwebjs_auth/
.wwebjs_cache/
server/.wwebjs_auth/
server/.wwebjs_cache/
